<?xml version="1.0"?>
<!--Standard IIS 7.0 Web.config as created by Visual Studio.NET -->
<!-- All changes from the default configuaration is prefixed by '[ServiceStack Specific]:' -->
<configuration>
    <appSettings>
        <add key="MonoServerDefaultIndexFiles" value="Default.aspx, default.htm"/>
        <add key="RedisHostAddress" value="localhost:6379"/>
        <add key="RedisDb" value="0"/>
        <add key="DefaultRedirectPath" value="AjaxClient"/>
    </appSettings>
    <connectionStrings/>
    <location path="redis">
        <system.web>
            <httpHandlers>
                <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
            </httpHandlers>
        </system.web>
        <!-- Required for IIS 7.0 -->
        <system.webServer>
            <modules runAllManagedModulesForAllRequests="true"/>
            <validation validateIntegratedModeConfiguration="false"/>
            <handlers>
                <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
            </handlers>
        </system.webServer>
    </location>
    <system.web>
        <compilation debug="true" targetFramework="4.5"/>
        <httpHandlers>
            <add path="redis*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
        </httpHandlers>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral"
                                  publicKeyToken="cc7b13ffcd2ddd51" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>