<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Client" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="5.0.0" targetFramework="net45" />
</packages>